.gin {
    border : 2px outset black;
    background-color : white ;
    /* text-align : center; */
    display : flex;
    height : 50vh;

}
.pro1 {
    text-align: left;
    border: 1px black solid;
    width : 50% ;
    background-color : aliceblue ;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}
.pro2 {
    border: 1px black solid;
    width : 50% ;
    background-color : aliceblue ;
}
.section2{
    font-family: Arial, Helvetica, sans-serif;
}
  