.heart {
    width: 250px;
    height: 250px;
    background-color:red;
    position: relative;
    top: 375px;
    left: 375px;
    transform: rotate(-45deg);
    animation-name: beat;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
.heart::before,
.heart::after {
    content: "";
    background-color: red;
    border-radius: 50%;
    height: 250px;
    position: absolute;
    width: 250px;
    bottom: 50%;
    animation-name: beat;
    animation-duration: 1s;
    animation-iteration-count: infinite;

}
.heart::after {
    top: 0;
    left: 50%;
}

@keyframes beat {
    0% {
        width: 125px;
        height: 125px;
    }
    40% {
        width: 125px;
        height: 125px;
    }
    50% {
        width: 150px;
        height: 150px;
    }
    60% {
        width: 125px;
        height: 125px;
    }
    70% {
        width: 150px;
        height: 150px;
    }
    80% {
        width: 125px;
        height: 125px;
    }
    100% {
        width: 125px;
        height: 125px;
    }
}